.background-body {
  background-color: rgb(182, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(0.14s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.color-bg-cart {
  background: #ff9c50b0;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgba(41, 41, 41, 0.301);
}
