.color-bg {
  background: #ff9c50b0;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgba(41, 41, 41, 0.301);
}

.button-product {
  color: #ffbb5c;
  background: #c63d2f;
  border: #c63d2f;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  outline: #c63d2f;
}

.button-product:hover {
  background: #ffbb5c;
  color: BLACK;
}
