
.background-popup {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background: rgba(0, 0, 0, 0.712);
display:flex;
justify-content: center;
align-items: center;

}

.loading-popup {
color: aliceblue;
font-size: xx-large;
}