.navbar-background {
  background: #ffbb5c;
}

.navbar-color {
  color: #c63d2f;
  font-weight: 700;
}

.logo-color {
  background: none;
}

.padding-right {
  padding-right: 25px;
}

.navbar-word-color-home {
  color: #c63d2f;
  border-radius: 10px;
  font-size: larger;
  font-weight: 400;
}

.navbar-word-color-sign-in {
  color: #c63d2f;
  font-size: larger;
  font-weight: 400;
  border-radius: 10px;
}

.navbar-word-color-sign-up {
  color: #c63d2f;
  font-size: larger;
  font-weight: 400;
  border-radius: 10px;
}

.navbar-nav .nav-link.active {
  color: #ffbb5c;
  background: #c63d2f;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logout-font {
  color: #c63d2f;
  font-size: larger;
  font-weight: 400;
}

.nav-link {
  color: #c63d2f;
}
